/* Main SASS Document */
/* Base */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* Lib */
/*
 * Color Library
 *
 */
/*
 * Variable Library
 *
 */
/* Base */
/*
 * Base Sass Document
 *
 */
/* line 7, ../sass/base.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* line 16, ../sass/base.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 22, ../sass/base.sass */
.clear-after:after, .user-profile-card-wrapper .profile-card-content .profile-card-team:after, .user-profile-card-wrapper .profile-card-content .profile-card-stats:after, .user-profile-card-wrapper .profile-card-content .profile-card-images:after, .settings-holder-wrapper:after, .settings-holder-wrapper .left-settings-labels .label-button:after, .play-browse-view .browse-filter-block:after, .play-browse-view .browse-list-actions-block:after, .play-browse-view .browse-list-actions-block .list-actions-right:after, .rui-form-base .rui-form-select .select-label:after, .rui-form-base .rui-form-toggle:after, .rui-form-base .rui-form-slider:after, .rui-form-base .rui-form-key-input:after, .rui-form-base:after, .rui-select-wrapper .select-button-holder:after, .rui-search-wrapper:after, .rui-search-wrapper .search-keywords-holder:after, .rui-search-wrapper .search-keywords-holder .search-keyword:after, .rui-table-wrapper .table-header:after, .rui-table-wrapper .table-body .body-row:after, .rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-button:after {
  content: "";
  display: block;
  clear: both;
}

/* line 28, ../sass/base.sass */
.app-wrapper .content {
  position: relative;
  z-index: 1;
  width: 1200px;
  height: calc(100vh - 160px);
  margin: 0 auto;
  padding: 40px 0;
}

/* Common */
/*
 * User Profile Card
 *
 */
/* line 9, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 20px;
  background: linear-gradient(45deg, #0E161B, #191D1F);
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.035);
  /* Corner Effects */
  /* Content */
}
/* line 19, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-corners-top,
.user-profile-card-wrapper .profile-card-corners-bottom {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 28, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-corners-top::before,
.user-profile-card-wrapper .profile-card-corners-top::after,
.user-profile-card-wrapper .profile-card-corners-bottom::before,
.user-profile-card-wrapper .profile-card-corners-bottom::after {
  position: absolute;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
}
/* line 38, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-corners-top::before,
.user-profile-card-wrapper .profile-card-corners-bottom::before {
  left: 0px;
  border-left: 1px solid #0091ea;
}
/* line 43, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-corners-top::after,
.user-profile-card-wrapper .profile-card-corners-bottom::after {
  right: 0px;
  border-right: 1px solid #0091ea;
}
/* line 48, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-corners-top::before,
.user-profile-card-wrapper .profile-card-corners-top::after {
  top: 0px;
  border-top: 1px solid #0091ea;
}
/* line 53, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-corners-bottom::before,
.user-profile-card-wrapper .profile-card-corners-bottom::after {
  bottom: 0px;
  border-bottom: 1px solid #0091ea;
}
/* line 60, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content {
  position: relative;
  z-index: 2;
  /* Team */
  /* Stats */
  /* Name */
  /* Level */
  /* Images */
}
/* line 66, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-team {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 1px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.04), inset 0 1px 0 rgba(0, 0, 0, 0.25);
  /* No Team */
}
/* line 75, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-name,
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-league {
  height: 38px;
  line-height: 38px;
  font-weight: 600;
  padding: 0 10px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04);
  background: linear-gradient(#22272A, #191D1F);
  cursor: pointer;
  transition: all 0.125s ease;
}
/* line 85, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-name:hover,
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-league:hover {
  background: linear-gradient(#2A3135, #191D1F);
}
/* line 87, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-name {
  float: left;
  width: calc(100% - 95px - 1px);
  color: white;
  font-size: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
/* line 94, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-league {
  float: right;
  width: 95px;
  color: #0091EA;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* line 102, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-league .team-league-icon {
  font-size: 14px;
  margin-right: 5px;
}
/* line 108, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-team .team-no-team {
  position: relative;
  width: 100%;
  line-height: 40px;
  text-align: center;
  color: #424242;
  font-size: 14px;
  font-weight: 700;
}
/* line 119, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-stats {
  margin: 20px 0;
}
/* line 122, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-stats .stats-block {
  position: relative;
  float: left;
  width: 33.33%;
  text-align: center;
}
/* line 127, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-stats .stats-block .stats-block-desc {
  color: #0091EA;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 133, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-stats .stats-block .stats-block-data {
  color: white;
  font-size: 22px;
  font-weight: 700px;
  line-height: 20px;
}
/* line 141, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-name {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
/* line 151, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-level {
  position: relative;
  width: 100%;
  text-align: center;
}
/* line 155, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-level .level-text {
  font-size: 14px;
  font-weight: 600;
  color: #0091EA;
  margin-bottom: 6px;
}
/* line 160, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-level .level-progress-bar {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 165, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-level .level-progress-bar .bar-experience {
  position: relative;
  height: 100%;
  width: 1px;
  background: linear-gradient(90deg, #0082D2, #00B0FF);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45), 4px 0 16px rgba(0, 145, 234, 0.65);
}
/* line 174, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-images {
  margin-bottom: 10px;
}
/* line 177, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-images .images-solo-rank,
.user-profile-card-wrapper .profile-card-content .profile-card-images .images-team-rank {
  float: left;
  width: 50px;
  height: 50px;
  margin: 15px 20px;
}
/* line 183, ../sass/common/user_profile_card.sass */
.user-profile-card-wrapper .profile-card-content .profile-card-images .images-profile-image {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 3px solid #191D1F;
  box-sizing: border-box;
  box-shadow: 0 0 150px rgba(0, 145, 234, 0.35);
}

/*
 * Animation Holder Component
 *
 */
/* line 7, ../sass/common/animation_holder.sass */
.animation-holder {
  transition: all 0.25s ease;
  opacity: 0;
  transform: translate(0%, -20px);
}
/* line 12, ../sass/common/animation_holder.sass */
.animation-holder.enter-animation {
  opacity: 1;
  transform: translate(0%, 0px);
}
/* line 16, ../sass/common/animation_holder.sass */
.animation-holder.leave-animation {
  opacity: 0;
  transform: translate(20%, 20px);
}

/*
 * Settings Holder Component
 *
 */
/* line 9, ../sass/common/settings_holder.sass */
.settings-holder-wrapper {
  position: relative;
  height: calc(100vh - 160px - 80px);
  color: white;
}
/* line 16, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .rui-form-base {
  width: 100%;
}
/* line 18, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .rui-form-base:not(:last-of-type) {
  margin-bottom: 10px;
}
/* line 21, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels,
.settings-holder-wrapper .middle-settings-divider,
.settings-holder-wrapper .right-settings-holder {
  position: relative;
  float: left;
  height: inherit;
}
/* line 29, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button {
  position: relative;
  z-index: 2;
  height: 60px;
  width: 260px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
}
/* line 38, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button .button-icon,
.settings-holder-wrapper .left-settings-labels .label-button .button-label {
  float: left;
}
/* line 41, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button .button-icon {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 15px;
  opacity: 0;
}
/* line 49, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button .button-icon .label-icon {
  opacity: 0;
  transform: scale(0.25);
  transition: all 0.175s cubic-bezier(0.1, 1.8, 0.4, 1);
  transition-delay: 0.25s;
}
/* line 54, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button .button-label {
  font-size: 30px;
  font-weight: 300;
  opacity: 0.65;
  line-height: 40px;
  transition: opacity 0.115s ease;
}
/* line 60, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button .button-label:hover {
  opacity: 1;
}
/* line 64, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button.is-selected .button-icon {
  opacity: 1;
}
/* line 66, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button.is-selected .button-icon .label-icon {
  opacity: 1;
  transform: scale(1);
}
/* line 69, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-button.is-selected .button-label {
  opacity: 1;
}
/* line 72, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .left-settings-labels .label-highlighter {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 60px;
  width: 260px;
  background-color: #0091EA;
  transition: all 0.25s cubic-bezier(0.1, 1.4, 0.2, 1);
}
/* line 82, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .middle-settings-divider {
  width: 1px;
  margin: 0 100px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}
/* line 87, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .right-settings-holder {
  width: 739px;
  height: 100%;
}
/* line 90, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .right-settings-holder .blocks-holder {
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  overflow: hidden;
}
/* line 95, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .right-settings-holder .blocks-holder .holder-block {
  position: absolute;
  height: 100%;
  width: inherit;
  opacity: 0;
  transition: opacity 0.425s cubic-bezier(0.1, 1.2, 0.2, 1) 0.075s, transform 0.5s cubic-bezier(0.1, 1.2, 0.2, 1);
}
/* line 101, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .right-settings-holder .blocks-holder .holder-block.is-active {
  opacity: 1;
}
/* line 103, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .right-settings-holder .holder-action-buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: right;
}
/* line 110, ../sass/common/settings_holder.sass */
.settings-holder-wrapper .right-settings-holder .holder-action-buttons .rui-form-button:not(:first-of-type) {
  margin-left: 10px;
}

/*
 * Scroll Holder Component
 *
 */
/* line 7, ../sass/common/scroll_holder.sass */
.scroll-holder {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 13, ../sass/common/scroll_holder.sass */
.scroll-holder .scroll-content,
.scroll-holder .scroll-indicator {
  height: 100%;
}
/* line 17, ../sass/common/scroll_holder.sass */
.scroll-holder .scroll-content {
  position: absolute;
  left: 0;
  width: 100%;
  padding-right: 13px;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 24, ../sass/common/scroll_holder.sass */
.scroll-holder .scroll-content::-webkit-scrollbar {
  display: none;
}
/* line 27, ../sass/common/scroll_holder.sass */
.scroll-holder .scroll-indicator {
  position: absolute;
  width: 8px;
  right: 0;
  top: 0;
}
/* line 33, ../sass/common/scroll_holder.sass */
.scroll-holder .scroll-indicator .indicator-bar,
.scroll-holder .scroll-indicator .indicator-area {
  position: absolute;
  left: 0;
  width: 100%;
  border-radius: 2px;
}
/* line 40, ../sass/common/scroll_holder.sass */
.scroll-holder .scroll-indicator .indicator-bar {
  z-index: 2;
  transform: translate(0px, 0px);
  background-color: rgba(34, 39, 42, 0.85);
}
/* line 45, ../sass/common/scroll_holder.sass */
.scroll-holder .scroll-indicator .indicator-area {
  z-index: 1;
  top: 0;
  height: 100%;
  background-color: rgba(25, 29, 31, 0.85);
}

/* Components */
/*
 * Navigation Component
 *
 */
@-webkit-keyframes browse-button-click-animation {
  0% {
    box-shadow: 0 0 0 0px white;
  }
  100% {
    box-shadow: 0 0 0 15px white;
  }
}
/* line 15, ../sass/components/navigation.sass */
.navigation {
  position: relative;
  z-index: 2;
  height: 160px;
  width: 100%;
  /* Nav Icons */
}
/* line 21, ../sass/components/navigation.sass */
.navigation .navigation__main,
.navigation .navigation__sub,
.navigation .navigation__wrapper {
  height: calc(160px / 2);
}
/* line 26, ../sass/components/navigation.sass */
.navigation .navigation__wrapper {
  width: 1200px;
  margin: 0 auto;
}
/* line 32, ../sass/components/navigation.sass */
.navigation .home-button {
  display: block;
  float: left;
  position: relative;
  height: calc(160px / 2);
  width: calc(160px / 2);
  background-color: #0091EA;
  text-align: center;
  margin: 0 20px;
  cursor: pointer;
}
/* line 42, ../sass/components/navigation.sass */
.navigation .home-button .home-icon {
  font-size: 28px;
  line-height: calc(160px / 2);
  color: white;
}
/* line 46, ../sass/components/navigation.sass */
.navigation .home-button:before, .navigation .home-button:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  height: 0;
  width: 0;
  border-top: calc(160px / 4) solid #0091EA;
  border-bottom: calc(160px / 4) solid transparent;
  border-left: calc(160px / 16) solid #0091EA;
  border-right: calc(160px / 16) solid transparent;
}
/* line 58, ../sass/components/navigation.sass */
.navigation .home-button:before {
  right: 100%;
  transform: rotate(180deg);
}
/* line 61, ../sass/components/navigation.sass */
.navigation .home-button:after {
  left: 100%;
}
/* line 63, ../sass/components/navigation.sass */
.navigation .home-button:hover {
  background-color: #00B0FF;
}
/* line 65, ../sass/components/navigation.sass */
.navigation .home-button:hover:before, .navigation .home-button:hover:after {
  border-top-color: #00B0FF;
  border-left-color: #00B0FF;
}
/* line 70, ../sass/components/navigation.sass */
.navigation .nav-icon {
  position: relative;
  display: block;
  line-height: 24px;
  font-size: 28px;
  color: #757575;
  cursor: pointer;
}
/* line 77, ../sass/components/navigation.sass */
.navigation .nav-icon:hover {
  color: #BDBDBD;
}
/* line 79, ../sass/components/navigation.sass */
.navigation .nav-icon.exit-button, .navigation .nav-icon.profile-button {
  float: right;
  margin: 28px 20px;
}
/* line 83, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button {
  float: left;
  margin: 28px 5px;
  padding: 0 5px;
}
/* line 87, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button.back-browse {
  margin-left: 20px;
}
/* line 89, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button.forward-browse {
  margin-right: 20px;
}
/* line 91, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button.browse-is-disabled {
  cursor: default;
  color: #424242;
}
/* line 95, ../sass/components/navigation.sass */
.navigation .main-link,
.navigation .sub-link {
  text-transform: uppercase;
  float: left;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}
/* line 103, ../sass/components/navigation.sass */
.navigation .navigation__main {
  background-color: #22272A;
}
/* line 105, ../sass/components/navigation.sass */
.navigation .navigation__main .main-link {
  color: #616161;
  font-size: 26px;
  margin: 20px;
}
/* line 109, ../sass/components/navigation.sass */
.navigation .navigation__main .main-link:hover {
  color: #9E9E9E;
}
/* line 111, ../sass/components/navigation.sass */
.navigation .navigation__main .main-link.active-link {
  color: #E0E0E0;
  cursor: default;
}
/* line 115, ../sass/components/navigation.sass */
.navigation .navigation__sub {
  background-color: #191D1F;
}
/* line 117, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link {
  position: relative;
  color: #424242;
  font-size: 18px;
  margin: 20px 15px;
  /* Animation Properties */
  left: -50px;
  opacity: 0;
  transition: opacity 0.125s cubic-bezier(0.17, 0.67, 0.21, 1), left 0.135s cubic-bezier(0.17, 0.67, 0.21, 1);
}
/* line 126, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link:hover {
  color: #757575;
}
/* line 128, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link.active-link {
  color: #0091EA;
  cursor: default;
}
/* line 132, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link.sub-link-is-showing {
  left: 0;
  opacity: 1;
}

/*
 * Background Component
 *
 */
/* line 7, ../sass/components/background.sass */
.background {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  /* Base */
  /* Overlays */
  /* Background Image */
}
/* line 16, ../sass/components/background.sass */
.background .background-overlay-blue,
.background .background-overlay-black,
.background .background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 27, ../sass/components/background.sass */
.background .background-overlay-blue {
  z-index: 3;
  background-color: rgba(0, 145, 234, 0.075);
}
/* line 31, ../sass/components/background.sass */
.background .background-overlay-black {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 37, ../sass/components/background.sass */
.background .background-image {
  z-index: 1;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Views */
/*
 * Home View
 *
 */
/* line 7, ../sass/views/home_view.sass */
.home-view {
  /* Left Column */
  /* Right Column */
}
/* line 11, ../sass/views/home_view.sass */
.home-view > .home-view-left-column {
  padding-left: 100px;
}

/*
 * Play Browse View
 *
 */
/* line 7, ../sass/views/play_browse_view.sass */
.play-browse-view {
  /* Search */
  /* Filter */
  /* List Actions */
}
/* line 11, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-search-block {
  margin-bottom: 10px;
}
/* line 16, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-filter-block {
  margin-bottom: 20px;
}
/* line 19, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-filter-block .rui-select-wrapper {
  float: left;
  width: calc(20% - 8px);
}
/* line 22, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-filter-block .rui-select-wrapper:not(:first-of-type) {
  margin-left: 10px;
}
/* line 27, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block {
  padding: 20px;
}
/* line 31, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-actions-left {
  float: left;
}
/* line 34, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-actions-right {
  float: right;
}
/* line 38, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-action-label,
.play-browse-view .browse-list-actions-block .list-action-button {
  display: block;
  line-height: 30px;
}
/* line 43, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-action-label {
  font-size: 24px;
  font-weight: 300;
  color: white;
}
/* line 48, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-action-button {
  float: left;
  font-size: 18px;
  color: #616161;
  cursor: pointer;
  transition: color 0.125s ease;
}
/* line 54, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-action-button:hover {
  color: #9E9E9E;
}
/* line 56, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-action-button:not(:last-of-type) {
  margin-right: 20px;
}
/* line 58, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-action-button.is-selected {
  color: white;
}
/* line 60, ../sass/views/play_browse_view.sass */
.play-browse-view .browse-list-actions-block .list-action-button.is-selected:hover {
  color: white;
}

/*
 * Settings Video View
 *
 */
/* line 7, ../sass/views/settings_video_view.sass */
.settings-video-view {
  position: relative;
  height: 100%;
}

/* Rui */
/*
 * Rui Form Base
 *
 */
/* line 14, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-label .label-icon, .rui-form-base .rui-form-slider .slider-holder .slider-icon, .rui-form-button .button-icon {
  font-size: 14px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

/* line 21, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-label, .rui-form-base .rui-form-toggle, .rui-form-base .rui-form-slider, .rui-form-base .rui-form-key-input {
  padding: 15px 20px;
  background-color: #0091EA;
}

/* line 26, ../sass/ui/rui_form_base.sass */
.rui-form-base {
  font-size: 18px;
  line-height: 20px;
  color: white;
  /* [Select] */
  /* [Toggle] */
  /* [Slider] */
  /* [Key Input] */
}
/* line 32, ../sass/ui/rui_form_base.sass */
.rui-form-base .form-disable-overlay {
  position: absolute;
  z-index: 2;
  right: 0;
  height: 50px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.25);
}
/* line 39, ../sass/ui/rui_form_base.sass */
.rui-form-base .form-disable-overlay::after {
  position: absolute;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(25, 29, 31, 0.75);
}
/* line 48, ../sass/ui/rui_form_base.sass */
.rui-form-base .form-left {
  float: left;
  font-weight: 400;
  padding: 15px 0;
}
/* line 53, ../sass/ui/rui_form_base.sass */
.rui-form-base .form-right {
  float: right;
  width: 260px;
  font-weight: 700;
}
/* line 60, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select {
  position: relative;
}
/* line 62, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-label {
  cursor: pointer;
}
/* line 66, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-label:hover .label-icon {
  opacity: 1;
}
/* line 68, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-label .label-text {
  float: left;
}
/* line 70, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-label .label-icon {
  float: right;
  opacity: 0.25;
  transition: all 0.185s cubic-bezier(0.25, 0.95, 0.15, 1);
}
/* line 75, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-options {
  position: absolute;
  z-index: 3;
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #0091EA;
  /* Transition Properties */
  opacity: 0;
  padding: 0;
  box-shadow: 0 0 0px 0px transparent;
  transition: all 0.185s cubic-bezier(0.25, 0.95, 0.15, 1);
}
/* line 89, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-options .option-button {
  padding: 10px 20px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* line 93, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select .select-options .option-button:hover {
  color: white;
}
/* line 97, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-select.options-is-showing .select-options {
  padding: 5px 0;
  opacity: 1;
  box-shadow: 0 0 24px 6px rgba(0, 0, 0, 0.5);
}
/* line 104, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle {
  cursor: pointer;
  transition: all 0.185s cubic-bezier(0.25, 0.95, 0.15, 1);
}
/* line 108, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle .toggle-label {
  float: left;
}
/* line 110, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle .toggle-animation {
  float: right;
  position: relative;
  width: 40px;
  height: 20px;
}
/* line 115, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle .toggle-animation .animation-circle {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: calc(100% - 16px - 2px);
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #00B0FF;
  transition: all 0.185s cubic-bezier(0.25, 0.95, 0.15, 1);
}
/* line 125, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle .toggle-animation .animation-background {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 132, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle.is-disabled {
  background-color: #22272A;
}
/* line 134, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle.is-disabled .toggle-label {
  color: #616161;
}
/* line 136, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle.is-disabled .animation-circle {
  left: 2px;
  background-color: #424242;
}
/* line 141, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-toggle:hover .animation-circle {
  background-color: white;
}
/* line 146, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider {
  position: relative;
}
/* line 150, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-icon,
.rui-form-base .rui-form-slider .slider-holder .slider-value,
.rui-form-base .rui-form-slider .slider-holder .slider-range {
  float: left;
}
/* line 154, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-icon {
  opacity: 0.25;
  cursor: pointer;
  transition: all 0.185s cubic-bezier(0.25, 0.95, 0.15, 1);
}
/* line 159, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-icon:hover {
  opacity: 1;
}
/* line 161, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-value {
  width: 52px;
  text-align: right;
}
/* line 164, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-range {
  -webkit-appearance: none;
  width: calc(100% - 96px);
  height: 8px;
  margin: 6px 2px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.185s cubic-bezier(0.25, 0.95, 0.15, 1);
}
/* line 173, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-range:hover {
  background-color: rgba(0, 0, 0, 0.35);
}
/* line 175, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-range:focus {
  outline: none;
}
/* line 177, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 100%;
}
/* line 183, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-range::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 100%;
}
/* line 189, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-slider .slider-holder .slider-range::-ms-thumb {
  -webkit-appearance: none;
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 100%;
}
/* line 198, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-key-input {
  cursor: pointer;
  text-align: center;
  height: 50px;
  transition: all 0.185s cubic-bezier(0.25, 0.95, 0.15, 1);
}
/* line 205, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-key-input.input-mode .input-text {
  animation-name: keyInputActiveAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* line 210, ../sass/ui/rui_form_base.sass */
.rui-form-base .rui-form-key-input:hover {
  background-color: #0082D2;
}

/* Form Button
 */
/* line 217, ../sass/ui/rui_form_base.sass */
.rui-form-button {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
  color: white;
}
/* line 222, ../sass/ui/rui_form_base.sass */
.rui-form-button,
.rui-form-button .button-icon,
.rui-form-button .button-label {
  display: inline-block;
  transition: all 0.1s ease;
}
/* line 229, ../sass/ui/rui_form_base.sass */
.rui-form-button .button-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
/* line 234, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-primary {
  background-color: rgba(76, 175, 80, 0.9);
}
/* line 236, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-primary:hover {
  background-color: #4caf50;
}
/* line 238, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-primary:active {
  background-color: rgba(76, 175, 80, 0.8);
}
/* line 241, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-secondary {
  background-color: rgba(66, 66, 66, 0.9);
}
/* line 243, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-secondary:hover {
  background-color: #424242;
}
/* line 245, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-secondary:active {
  background-color: rgba(66, 66, 66, 0.8);
}
/* line 248, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-disabled {
  background-color: #22272A;
  color: #616161;
  cursor: default;
}
/* line 252, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-disabled:hover {
  background-color: #22272A;
}
/* line 256, ../sass/ui/rui_form_base.sass */
.rui-form-button.is-disabled:hover:hover .button-label {
  color: #616161;
}

/* Animation
 */
@keyframes keyInputActiveAnimation {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.65;
  }
}
/*
 * Rui Select
 *
 */
/* line 7, ../sass/ui/rui_select.sass */
.rui-select-wrapper {
  position: relative;
  z-index: 1;
  font-size: 14px;
  /* Show Dropdown */
  /* Option Selected */
}
/* line 12, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  line-height: 20px;
  padding: 15px 20px;
  color: white;
  background-color: #22272A;
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
  transition: all 0.2s cubic-bezier(0.15, 0.55, 0.35, 1);
}
/* line 25, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-icon,
.rui-select-wrapper .select-button-holder .button-label,
.rui-select-wrapper .select-button-holder .button-arrow {
  position: relative;
  z-index: 1;
  transition: opacity 0.125s ease;
}
/* line 31, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-icon,
.rui-select-wrapper .select-button-holder .button-label {
  float: left;
  opacity: 0.5;
}
/* line 35, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-icon {
  width: 20px;
  text-align: center;
}
/* line 38, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-label {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 10px;
}
/* line 42, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-arrow {
  float: right;
  opacity: 0.25;
}
/* line 45, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-effect {
  position: absolute;
  z-index: 0;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 15px;
  background-color: #0091EA;
  border-radius: 100%;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.2s cubic-bezier(0.15, 0.55, 0.35, 1);
}
/* line 58, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder:hover .button-arrow {
  opacity: 0.75;
}
/* line 61, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
  background-color: #191D1F;
  box-sizing: content-box;
  overflow: hidden;
  padding: 0;
  height: 0;
  box-shadow: 0 0 0 transparent;
  transition: all 0.225s cubic-bezier(0.15, 0.65, 0.25, 1);
}
/* line 73, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option {
  font-size: 14px;
  padding: 10px 0 10px 20px;
  line-height: 15px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}
/* line 80, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option:hover {
  opacity: 0.75;
}
/* line 82, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option .option-icon {
  display: inline-block;
  margin-right: 5px;
}
/* line 85, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option .option-label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 93, ../sass/ui/rui_select.sass */
.rui-select-wrapper.show-dropdown .select-button-holder {
  z-index: 3;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
/* line 96, ../sass/ui/rui_select.sass */
.rui-select-wrapper.show-dropdown .select-dropdown-holder {
  padding: 10px 0;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
}
/* line 103, ../sass/ui/rui_select.sass */
.rui-select-wrapper.option-selected .button-icon,
.rui-select-wrapper.option-selected .button-label {
  opacity: 1;
}
/* line 106, ../sass/ui/rui_select.sass */
.rui-select-wrapper.option-selected .button-effect {
  opacity: 1;
  transform: scale(25);
}
/* line 109, ../sass/ui/rui_select.sass */
.rui-select-wrapper.option-selected .select-dropdown-holder {
  background-color: #0082D2;
}

/*
 * Rui Search
 *
 */
/* line 7, ../sass/ui/rui_search.sass */
.rui-search-wrapper {
  position: relative;
  padding: 20px;
  height: 70px;
  background-color: #22272A;
  /* Has Focus */
  /* Has Value */
}
/* line 14, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-icon {
  float: left;
  display: block;
  line-height: 30px;
  width: 20px;
  text-align: center;
  font-size: 14px;
  color: #9E9E9E;
  margin-right: 10px;
}
/* line 24, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-hint,
.rui-search-wrapper .search-field {
  font-size: 18px;
}
/* line 28, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-hint {
  position: absolute;
  left: 50px;
  z-index: 0;
  line-height: 30px;
  color: #616161;
  opacity: 1;
  transform: translate(0%, 0%);
  transition: all 0.175s cubic-bezier(0.15, 0.55, 0.35, 1);
}
/* line 38, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-field {
  float: left;
  position: relative;
  z-index: 1;
  height: 30px;
  color: #9E9E9E;
  border: none;
  outline: none;
  background-color: transparent;
}
/* line 49, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder {
  float: right;
}
/* line 52, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword {
  float: left;
  position: relative;
  color: white;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
/* line 62, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword:not(:first-of-type) {
  margin-left: 10px;
}
/* line 65, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword:hover .keyword-icon {
  opacity: 1;
}
/* line 67, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword:hover .keyword-label {
  opacity: 0.25;
}
/* line 69, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-label,
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-icon {
  float: left;
  line-height: 10px;
  transition: all 0.175s ease;
}
/* line 74, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 78, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-icon {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  width: 100%;
  left: 0;
  opacity: 0;
}
/* line 86, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword.normal-type {
  background-color: #424242;
}
/* line 89, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword.map-type {
  background-color: #0082D2;
}
/* line 92, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword.mode-type {
  background-color: #00B0FF;
}
/* line 99, ../sass/ui/rui_search.sass */
.rui-search-wrapper.has-focus .search-hint {
  color: #424242;
}
/* line 105, ../sass/ui/rui_search.sass */
.rui-search-wrapper.has-value .search-hint {
  opacity: 0;
  transform: translate(25%, 0%);
}

/*
 * Rui Table
 *
 */
/* line 7, ../sass/ui/rui_table.sass */
.rui-table-wrapper {
  /* Global Table Styling */
  /* Header */
  /* Rows */
  /* Table Quick Actions */
}
/* line 11, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-header,
.rui-table-wrapper .body-row {
  padding: 0 20px;
}
/* line 15, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-icon {
  font-size: 14px;
  text-align: center;
  width: 20px;
}
/* line 20, ../sass/ui/rui_table.sass */
.rui-table-wrapper .header-value,
.rui-table-wrapper .row-icon-holder,
.rui-table-wrapper .row-value {
  float: left;
  height: 60px;
  padding: 19px 0;
}
/* line 27, ../sass/ui/rui_table.sass */
.rui-table-wrapper .header-icon,
.rui-table-wrapper .header-text,
.rui-table-wrapper .row-icon,
.rui-table-wrapper .row-text {
  line-height: 20px;
}
/* line 35, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-header {
  position: relative;
  z-index: 2;
  background: linear-gradient(#00B0FF, #0091EA);
  box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.25);
}
/* line 42, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-header .header-icon,
.rui-table-wrapper .table-header .header-text {
  color: white;
}
/* line 46, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-header .header-text {
  font-size: 12px;
  font-weight: 700;
}
/* line 53, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row {
  position: relative;
  background-color: #191D1F;
  margin-top: 2px;
  cursor: pointer;
}
/* line 60, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon,
.rui-table-wrapper .table-body .body-row .row-text {
  display: inline-block;
}
/* line 64, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-text {
  font-size: 14px;
  color: #BDBDBD;
}
/* line 69, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon-holder .row-text {
  font-size: 12px;
  font-weight: 700;
  margin-left: 5px;
}
/* line 74, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon-holder .status-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: transparent;
}
/* line 81, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon-holder.is-disabled > .row-icon {
  color: #424242;
}
/* line 83, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon-holder.is-active > .row-icon {
  color: #0091EA;
}
/* line 85, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon-holder.is-good > .status-circle {
  box-shadow: inset 0 0 0 2px #4CAF50;
}
/* line 87, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon-holder.is-normal > .status-circle {
  box-shadow: inset 0 0 0 2px #FF9800;
}
/* line 89, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-body .body-row .row-icon-holder.is-bad > .status-circle {
  box-shadow: inset 0 0 0 2px #F44336;
}
/* line 94, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  /* Hidden Styling */
  display: none;
  /* Open Button */
  /* Popup Actions */
  /* Is Showing Styling */
  /* Show Actions Styling */
}
/* line 105, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-button {
  width: 24px;
  height: 20px;
  padding: 2px 3px;
  border-radius: 4px;
  background-color: #424242;
}
/* line 112, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-button .button-circle {
  float: left;
  height: 4px;
  width: 4px;
  margin: 6px 1px;
  border-radius: 2px;
  background-color: #191D1F;
}
/* line 122, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder {
  position: absolute;
  z-index: 5;
  background-color: #22272A;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.3);
  cursor: default;
  /* Animation Properties */
  opacity: 0;
  transform: scale(0.75);
  transition: all 0.155s cubic-bezier(0, 1.55, 0, 1.1);
}
/* line 134, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder .action-button {
  padding: 10px 20px;
  white-space: nowrap;
  cursor: pointer;
  background-color: #22272A;
  transition: background-color 0.085s ease;
}
/* line 140, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder .action-button:hover {
  background-color: #191D1F;
}
/* line 142, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder .action-button:hover .button-text {
  color: white;
}
/* line 144, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder .action-button .button-icon,
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder .action-button .button-text {
  display: inline-block;
  font-size: 14px;
}
/* line 148, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder .action-button .button-icon {
  color: #0082D2;
  margin-right: 10px;
}
/* line 151, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper .quick-actions-popup-holder .action-button .button-text {
  color: #BDBDBD;
  transition: color 0.085s ease;
}
/* line 157, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper.is-showing {
  display: block;
}
/* line 161, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper.is-showing .quick-actions-popup-button:hover .button-circle {
  background-color: #0091EA;
}
/* line 168, ../sass/ui/rui_table.sass */
.rui-table-wrapper .table-quick-actions-wrapper.show-actions .quick-actions-popup-holder {
  opacity: 1;
  transform: scale(1);
}
