/* Main SASS Document */
/* Base */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* Lib */
/*
 * Color Library
 *
 */
/*
 * Variable Library
 *
 */
/* Base */
/*
 * Base Sass Document
 *
 */
/* line 7, ../sass/base.sass */
html,
body,
#app {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/base.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* line 22, ../sass/base.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 28, ../sass/base.sass */
.clear-after:after, .browse-view .browse-filter-block:after, .browse-view .rego-table-wrapper .rt-row:after, .browse-view .rego-table-wrapper .rt-row .rt-col.icon-col:after, .rui-select-wrapper .select-button-holder:after, .rui-search-wrapper:after, .rui-search-wrapper .search-keywords-holder:after, .rui-search-wrapper .search-keywords-holder .search-keyword:after {
  content: "";
  display: block;
  clear: both;
}

/* line 34, ../sass/base.sass */
.app-wrapper .content {
  width: 1200px;
  margin: 0 auto;
}

/* Common */
/*
 * Animation Holder Component
 *
 */
/* line 7, ../sass/common/animation_holder.sass */
.animation-holder {
  transition: all 0.25s ease;
  opacity: 0;
  transform: translate(0%, 0%);
}
/* line 12, ../sass/common/animation_holder.sass */
.animation-holder.enter-animation {
  opacity: 1;
  transform: translate(0%, 20px);
}
/* line 16, ../sass/common/animation_holder.sass */
.animation-holder.leave-animation {
  opacity: 0;
  transform: translate(20%, 20px);
}

/* Components */
/*
 * Navigation Component
 *
 */
@-webkit-keyframes browse-button-click-animation {
  0% {
    box-shadow: 0 0 0 0px white;
  }
  100% {
    box-shadow: 0 0 0 15px white;
  }
}
/* line 15, ../sass/components/navigation.sass */
.navigation {
  position: relative;
  height: 160px;
  width: 100%;
  /* Nav Icons */
}
/* line 20, ../sass/components/navigation.sass */
.navigation .navigation__main,
.navigation .navigation__sub,
.navigation .navigation__wrapper {
  height: calc(160px / 2);
}
/* line 25, ../sass/components/navigation.sass */
.navigation .navigation__wrapper {
  width: 1200px;
  margin: 0 auto;
}
/* line 31, ../sass/components/navigation.sass */
.navigation .home-button {
  display: block;
  float: left;
  position: relative;
  height: calc(160px / 2);
  width: calc(160px / 2);
  background-color: #0091EA;
  text-align: center;
  margin: 0 20px;
  cursor: pointer;
}
/* line 41, ../sass/components/navigation.sass */
.navigation .home-button .home-icon {
  font-size: 28px;
  line-height: calc(160px / 2);
  color: white;
}
/* line 45, ../sass/components/navigation.sass */
.navigation .home-button:before, .navigation .home-button:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  height: 0;
  width: 0;
  border-top: calc(160px / 4) solid #0091EA;
  border-bottom: calc(160px / 4) solid transparent;
  border-left: calc(160px / 16) solid #0091EA;
  border-right: calc(160px / 16) solid transparent;
}
/* line 57, ../sass/components/navigation.sass */
.navigation .home-button:before {
  right: 100%;
  transform: rotate(180deg);
}
/* line 60, ../sass/components/navigation.sass */
.navigation .home-button:after {
  left: 100%;
}
/* line 62, ../sass/components/navigation.sass */
.navigation .home-button:hover {
  background-color: #00B0FF;
}
/* line 64, ../sass/components/navigation.sass */
.navigation .home-button:hover:before, .navigation .home-button:hover:after {
  border-top-color: #00B0FF;
  border-left-color: #00B0FF;
}
/* line 69, ../sass/components/navigation.sass */
.navigation .nav-icon {
  position: relative;
  display: block;
  line-height: 24px;
  font-size: 28px;
  color: #757575;
  cursor: pointer;
}
/* line 76, ../sass/components/navigation.sass */
.navigation .nav-icon:hover {
  color: #BDBDBD;
}
/* line 78, ../sass/components/navigation.sass */
.navigation .nav-icon.exit-button, .navigation .nav-icon.profile-button {
  float: right;
  margin: 28px 20px;
}
/* line 82, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button {
  float: left;
  margin: 28px 5px;
  padding: 0 5px;
}
/* line 86, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button.back-browse {
  margin-left: 20px;
}
/* line 88, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button.forward-browse {
  margin-right: 20px;
}
/* line 90, ../sass/components/navigation.sass */
.navigation .nav-icon.browse-button.browse-is-disabled {
  cursor: default;
  color: #424242;
}
/* line 94, ../sass/components/navigation.sass */
.navigation .main-link,
.navigation .sub-link {
  text-transform: uppercase;
  float: left;
  line-height: 40px;
  font-weight: 700;
  cursor: pointer;
}
/* line 102, ../sass/components/navigation.sass */
.navigation .navigation__main {
  background-color: #22272A;
}
/* line 104, ../sass/components/navigation.sass */
.navigation .navigation__main .main-link {
  color: #616161;
  font-size: 26px;
  margin: 20px;
}
/* line 108, ../sass/components/navigation.sass */
.navigation .navigation__main .main-link:hover {
  color: #9E9E9E;
}
/* line 110, ../sass/components/navigation.sass */
.navigation .navigation__main .main-link.active-link {
  color: #E0E0E0;
  cursor: default;
}
/* line 114, ../sass/components/navigation.sass */
.navigation .navigation__sub {
  background-color: #191D1F;
}
/* line 116, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link {
  position: relative;
  color: #424242;
  font-size: 18px;
  margin: 20px 15px;
  /* Animation Properties */
  left: -50px;
  opacity: 0;
  transition: opacity 0.125s cubic-bezier(0.17, 0.67, 0.21, 1), left 0.135s cubic-bezier(0.17, 0.67, 0.21, 1);
}
/* line 125, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link:hover {
  color: #757575;
}
/* line 127, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link.active-link {
  color: #0091EA;
  cursor: default;
}
/* line 131, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link.sub-link-is-showing {
  left: 0;
  opacity: 1;
}

/*
 * Background Component
 *
 */
/* line 7, ../sass/components/background.sass */
.background {
  position: absolute;
  z-index: -1;
  top: 80px;
  left: 0;
  /* Base */
  /* Overlays */
  /* Background Image */
}
/* line 14, ../sass/components/background.sass */
.background .background-overlay-blue,
.background .background-overlay-black,
.background .background-image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
/* line 25, ../sass/components/background.sass */
.background .background-overlay-blue {
  z-index: 3;
  background-color: rgba(0, 145, 234, 0.075);
}
/* line 29, ../sass/components/background.sass */
.background .background-overlay-black {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.85);
}
/* line 35, ../sass/components/background.sass */
.background .background-image {
  z-index: 1;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Views */
/*
 * Browse View
 *
 */
/* line 7, ../sass/views/browse_view.sass */
.browse-view {
  /* Filter Styling */
  /* Table Styling */
}
/* line 11, ../sass/views/browse_view.sass */
.browse-view .browse-search-block {
  margin-bottom: 10px;
}
/* line 14, ../sass/views/browse_view.sass */
.browse-view .browse-filter-block {
  margin-bottom: 10px;
}
/* line 17, ../sass/views/browse_view.sass */
.browse-view .browse-filter-block .rui-select-wrapper {
  float: left;
  width: calc(20% - 8px);
}
/* line 20, ../sass/views/browse_view.sass */
.browse-view .browse-filter-block .rui-select-wrapper:not(:first-of-type) {
  margin-left: 10px;
}
/* line 26, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row {
  color: #E0E0E0;
  line-height: 20px;
  margin-bottom: 2px;
  background-color: #191D1F;
}
/* line 32, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col {
  padding: 20px;
  float: left;
}
/* line 37, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col .col-icon {
  float: left;
  font-size: 14px;
  line-height: inherit;
  margin-right: 5px;
}
/* line 42, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col .col-text {
  float: left;
  font-size: 12px;
  font-weight: 700;
}
/* line 47, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col.good-status .col-icon {
  color: #4CAF50;
}
/* line 50, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col.normal-status .col-icon {
  color: #FF9800;
}
/* line 53, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col.bad-status .col-icon {
  color: #F44336;
}
/* line 56, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col.active-status .col-icon {
  color: #0091EA;
}
/* line 59, ../sass/views/browse_view.sass */
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col.disabled-status .col-icon,
.browse-view .rego-table-wrapper .rt-row .rt-col.icon-col.disabled-status .col-text {
  color: #424242;
}

/* Rui */
/*
 * Rui Select
 *
 */
/* line 7, ../sass/ui/rui_select.sass */
.rui-select-wrapper {
  position: relative;
  z-index: 1;
  font-size: 14px;
  /* Show Dropdown */
  /* Option Selected */
}
/* line 12, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  line-height: 20px;
  padding: 15px 20px;
  color: white;
  background-color: #22272A;
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
  transition: all 0.2s cubic-bezier(0.15, 0.55, 0.35, 1);
}
/* line 25, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-icon,
.rui-select-wrapper .select-button-holder .button-label,
.rui-select-wrapper .select-button-holder .button-arrow {
  position: relative;
  z-index: 1;
  transition: opacity 0.125s ease;
}
/* line 31, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-icon,
.rui-select-wrapper .select-button-holder .button-label {
  float: left;
  opacity: 0.5;
}
/* line 35, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-icon {
  width: 20px;
  text-align: center;
}
/* line 38, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-label {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 10px;
}
/* line 42, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-arrow {
  float: right;
  opacity: 0.25;
}
/* line 45, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder .button-effect {
  position: absolute;
  z-index: 0;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 15px;
  background-color: #0091EA;
  border-radius: 100%;
  opacity: 0;
  transform: scale(0.2);
  transition: all 0.2s cubic-bezier(0.15, 0.55, 0.35, 1);
}
/* line 58, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-button-holder:hover .button-arrow {
  opacity: 0.75;
}
/* line 61, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder {
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 10px 0;
  background-color: #191D1F;
  box-sizing: content-box;
  overflow: hidden;
  padding: 0;
  height: 0;
  box-shadow: 0 0 0 transparent;
  transition: all 0.225s cubic-bezier(0.15, 0.65, 0.25, 1);
}
/* line 73, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option {
  font-size: 14px;
  padding: 10px 0 10px 20px;
  line-height: 15px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}
/* line 80, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option:hover {
  opacity: 0.75;
}
/* line 82, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option .option-icon {
  display: inline-block;
  margin-right: 5px;
}
/* line 85, ../sass/ui/rui_select.sass */
.rui-select-wrapper .select-dropdown-holder .dropdown-option .option-label {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 93, ../sass/ui/rui_select.sass */
.rui-select-wrapper.show-dropdown .select-button-holder {
  z-index: 3;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
/* line 96, ../sass/ui/rui_select.sass */
.rui-select-wrapper.show-dropdown .select-dropdown-holder {
  padding: 10px 0;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
}
/* line 103, ../sass/ui/rui_select.sass */
.rui-select-wrapper.option-selected .button-icon,
.rui-select-wrapper.option-selected .button-label {
  opacity: 1;
}
/* line 106, ../sass/ui/rui_select.sass */
.rui-select-wrapper.option-selected .button-effect {
  opacity: 1;
  transform: scale(25);
}
/* line 109, ../sass/ui/rui_select.sass */
.rui-select-wrapper.option-selected .select-dropdown-holder {
  background-color: #0082D2;
}

/*
 * Rui Search
 *
 */
/* line 7, ../sass/ui/rui_search.sass */
.rui-search-wrapper {
  position: relative;
  padding: 20px;
  height: 70px;
  background-color: #22272A;
  /* Has Focus */
  /* Has Value */
}
/* line 14, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-icon {
  float: left;
  display: block;
  line-height: 30px;
  width: 20px;
  text-align: center;
  font-size: 14px;
  color: #9E9E9E;
  margin-right: 20px;
}
/* line 24, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-hint,
.rui-search-wrapper .search-field {
  font-size: 18px;
}
/* line 28, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-hint {
  position: absolute;
  left: 60px;
  z-index: 0;
  line-height: 30px;
  color: #616161;
  opacity: 1;
  transform: translate(0%, 0%);
  transition: all 0.175s cubic-bezier(0.15, 0.55, 0.35, 1);
}
/* line 38, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-field {
  float: left;
  position: relative;
  z-index: 1;
  height: 30px;
  color: #9E9E9E;
  border: none;
  outline: none;
  background-color: transparent;
}
/* line 49, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder {
  float: right;
}
/* line 52, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword {
  float: left;
  position: relative;
  color: white;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
/* line 62, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword:not(:first-of-type) {
  margin-left: 10px;
}
/* line 65, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword:hover .keyword-icon {
  opacity: 1;
}
/* line 67, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword:hover .keyword-label {
  opacity: 0.25;
}
/* line 69, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-label,
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-icon {
  float: left;
  line-height: 10px;
  transition: all 0.175s ease;
}
/* line 74, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 78, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword .keyword-icon {
  position: absolute;
  z-index: 1;
  font-size: 14px;
  width: 100%;
  left: 0;
  opacity: 0;
}
/* line 86, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword.normal-type {
  background-color: #424242;
}
/* line 89, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword.map-type {
  background-color: #F44336;
}
/* line 92, ../sass/ui/rui_search.sass */
.rui-search-wrapper .search-keywords-holder .search-keyword.mode-type {
  background-color: #4CAF50;
}
/* line 99, ../sass/ui/rui_search.sass */
.rui-search-wrapper.has-focus .search-hint {
  color: #424242;
}
/* line 105, ../sass/ui/rui_search.sass */
.rui-search-wrapper.has-value .search-hint {
  opacity: 0;
  transform: translate(25%, 0%);
}
