/* Main SASS Document */
/* Base */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/*
 * Base Sass Document
 *
 */
/* line 7, ../sass/base.sass */
html,
body,
#app {
  width: 100%;
  height: 100%;
}

/* line 13, ../sass/base.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* line 19, ../sass/base.sass */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 25, ../sass/base.sass */
.clear-after:after {
  content: "";
  display: block;
  clear: both;
}

/* Lib */
/*
 * Color Library
 *
 */
/*
 * Variable Library
 *
 */
/* Components */
/*
 * Navigation Component
 *
 */
/* line 7, ../sass/components/navigation.sass */
.navigation {
  position: relative;
  height: 160px;
  width: 100%;
}
/* line 12, ../sass/components/navigation.sass */
.navigation .navigation__main,
.navigation .navigation__sub {
  height: calc(160px / 2);
  color: white;
}
/* line 16, ../sass/components/navigation.sass */
.navigation .navigation__main p,
.navigation .navigation__sub p {
  display: inline-block;
  margin-right: 10px;
}
/* line 20, ../sass/components/navigation.sass */
.navigation .navigation__main {
  background-color: #22272A;
}
/* line 22, ../sass/components/navigation.sass */
.navigation .navigation__main .main-link {
  color: #616161;
}
/* line 24, ../sass/components/navigation.sass */
.navigation .navigation__main .active-link {
  color: #0091EA;
}
/* line 27, ../sass/components/navigation.sass */
.navigation .navigation__sub {
  background-color: #191D1F;
}
/* line 29, ../sass/components/navigation.sass */
.navigation .navigation__sub .sub-link {
  color: #424242;
}
/* line 31, ../sass/components/navigation.sass */
.navigation .navigation__sub .active-link {
  color: #0091EA;
}
