/*
 *
 * Browse View
 *
 */

.browse-view

  /* Filter Styling */

  .browse-search-block
    margin-bottom: 10px

  .browse-filter-block
    @extend .clear-after
    margin-bottom: 20px
    .rui-select-wrapper
      float: left
      width: calc(20% - 8px)
      &:not(:first-of-type)
        margin-left: 10px
  
  /* Server List Styling */