/*
 *
 * Base Sass Document
 *
 */

body
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  overflow: hidden
  width: 100vw
  height: 100vh

*
  margin: 0
  padding: 0
  box-sizing: border-box

.clear-after
  &:after
    content: ''
    display: block
    clear: both

.app-wrapper
  .content
    position: relative
    z-index: 1
    width: $appWidth
    height: calc(100vh - #{$navigationHeight})
    margin: 0 auto