/*
 * Rui Search
 *
 */
/* line 7, ../../sass/ui/rui_card.sass */
.rui-card-base {
  position: relative;
  padding: 20px;
  background: linear-gradient(45deg, #0E161B, #191D1F);
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.4), inset 0 0 0 1px rgba(255, 255, 255, 0.035);
}
