/*
 * Settings Advanced View
 *
 */
/* line 7, ../../sass/views/settings_advanced_view.sass */
.settings-advanced-view {
  margin-top: 100px;
  color: white;
}
/* line 11, ../../sass/views/settings_advanced_view.sass */
.settings-advanced-view .rui-form-base {
  width: 700px;
  margin-bottom: 10px;
}
