/*
 * Animation Holder Component
 *
 */
/* line 7, ../../sass/common/animation_holder.sass */
.animation-holder {
  transition: all 0.25s ease;
  opacity: 0;
  transform: translate(0%, -20px);
}
/* line 12, ../../sass/common/animation_holder.sass */
.animation-holder.enter-animation {
  opacity: 1;
  transform: translate(0%, 0px);
}
/* line 16, ../../sass/common/animation_holder.sass */
.animation-holder.leave-animation {
  opacity: 0;
  transform: translate(20%, 20px);
}
