/*
 *
 * Navigation Component
 *
 */

.navigation
  position: relative
  height: $navigationHeight
  width: 100%

  .navigation__main,
  .navigation__sub
    height: calc(#{$navigationHeight} / 2)

  .navigation__main
    background-color: $dark-1

  .navigation__sub
    background-color: $dark-2