/*
 *
 * Rui Form Base
 *
 */

$formWidth: 240px
$formDarkOverlay: rgba(black, .5)

%icon-base
  font-size: 14px
  width: 20px
  height: 20px
  line-height: 20px
  text-align: center

.rui-form-base
  @extend .clear-after
  font-size: 18px
  line-height: 20px

  .form-left
    float: left
    font-weight: 400
    padding: 15px 0

  .form-right
    float: right
    font-weight: 700

  /* [Select] */

  .rui-form-select
    position: relative
    width: $formWidth
    .select-label
      @extend .clear-after
      padding: 15px 20px
      background-color: $mainColor
      cursor: pointer
      &:hover
        .label-icon
          opacity: 1
      .label-text
        float: left
      .label-icon
        @extend %icon-base
        float: right
        opacity: .25
        transition: opacity .125s ease
    .select-options
      position: absolute
      z-index: 2
      height: 0
      width: 100%
      left: 0
      top: 0
      overflow: hidden
      background-color: $mainColor
      /* Transition Properties */
      opacity: 0
      padding: 0
      transition: opacity .15s ease, height .1s ease, padding .15s ease
      .option-button
        padding: 10px 20px
        color: $formDarkOverlay
        cursor: pointer
        &:hover
          color: white

    &.options-is-showing
      .select-options
        padding: 5px 0
        opacity: 1