/*
 *
 * Rui Form Base
 *
 */

$formWidth: 240px
$formDarkOverlay: rgba(black, .5)

%icon-base
  font-size: 14px
  width: 20px
  height: 20px
  line-height: 20px
  text-align: center

%form-component-base
  @extend .clear-after
  padding: 15px 20px
  background-color: $mainColor
  cursor: pointer

.rui-form-base
  @extend .clear-after
  font-size: 18px
  line-height: 20px

  .form-left
    float: left
    font-weight: 400
    padding: 15px 0

  .form-right
    float: right
    width: $formWidth
    font-weight: 700

  /* [Select] */

  .rui-form-select
    position: relative
    .select-label
      @extend %form-component-base
      &:hover
        .label-icon
          opacity: 1
      .label-text
        float: left
      .label-icon
        @extend %icon-base
        float: right
        opacity: .25
        transition: opacity .125s ease
    .select-options
      position: absolute
      z-index: 2
      height: 0
      width: 100%
      left: 0
      top: 0
      overflow: hidden
      background-color: $mainColor
      /* Transition Properties */
      opacity: 0
      padding: 0
      transition: opacity .15s ease, height .1s ease, padding .15s ease
      .option-button
        padding: 10px 20px
        color: $formDarkOverlay
        cursor: pointer
        &:hover
          color: white

    &.options-is-showing
      .select-options
        padding: 5px 0
        opacity: 1

  /* [Toggle] */

  .rui-form-toggle
    @extend %form-component-base
    .toggle-label
      float: left
    .toggle-animation
      float: right
      position: relative
      width: 40px
      height: 20px
      .animation-circle
        position: absolute
        z-index: 1
        top: 2px
        left: calc(100% - 16px - 2px)
        width: 16px
        height: 16px
        border-radius: 100%
        background-color: white
      .animation-background
        position: relative
        width: 100%
        height: 100%
        border-radius: 10px
        background-color: $formDarkOverlay

    &.is-disabled
      background-color: $dark-1
      .toggle-label
        color: $grey-700
      .animation-circle
        left: 2px
        background-color: $grey-800