/*
 *
 * Bulletin Card
 *
 */

$sliderButtonHeight: 10px

.bulletin-card-wrapper
  width: 520px
  height: 225px

  .bulletin-slider-content
    @extend. clear-after
    height: calc(100% - #{$sliderButtonHeight})
    width: 100%
    white-space: nowrap
    overflow: hidden
    .slider-box
      display: inline-block
      vertical-align: top
      position: relative
      height: 100%
      width: 100%
      transition: opacity .2s ease, transform .2s ease
      color: white

      /* Slider Content */

      /* Slide #1 */

      .box-content-one
        text-align: center
        .content-one-header
          color: $grey-700
          font-size: 14px
          font-weight: 700
          text-transform: uppercase
          letter-spacing: 2px
          margin-bottom: 5px
        .content-one-big
          position: relative
          display: inline-block
          margin-bottom: 20px
          .big-label
            color: white
            font-size: 36px
            font-weight: 300
            padding: 8px 16px
            display: inline-block
            background-color: $mainColor
          .big-date
            position: absolute
            top: calc(100% - 8px)
            right: -8px
            color: $dark-1
            font-size: 14px
            font-weight: 700
            padding: 4px 8px
            background-color: white
        .content-one-locations
          margin: 20px 0
          font-size: 18px
          font-weight: 600
          text-transform: uppercase
          color: $mainColor
          letter-spacing: 2px
        .content-one-sponsors
          color: $grey-700
          font-size: 12px
          font-weight: 600
          .sponsor
            margin: 0 10px

      /* Slide #3 */

      .box-content-three
        margin: 18px 0
        text-align: center
        .content-three-title
          color: $mainColor
          font-size: 18px
          font-weight: 400
          .bold-title
            font-weight: 700
            text-transform: uppercase
        .content-three-team
          color: white
          font-size: 48px
          font-weight: 700
          text-transform: uppercase
          display: inline-block
          margin: 10px 0
          border-top: 2px solid white
          border-bottom: 2px solid white
        .content-three-text
          white-space: normal
          font-size: 13px
          color: $grey-600

      /* Game Patch Styling */

      .patch-content
        text-align: center
        .patch-header
          font-size: 30px
          font-weight: 300
          color: $mainColor
        .patch-note
          font-size: 24px
          font-weight: 700
          text-transform: uppercase
          color: $dark-1
          margin: 10px 0
          padding: 5px 10px
          display: inline-block
          background-color: white
        .patch-text
          white-space: normal
          font-size: 13px
          color: $grey-600

  .bulletin-slider-controls
    @extend .clear-after
    height: $sliderButtonHeight
    display: flex
    justify-content: center
    .controller-button
      float: left
      margin: 2px 4px
      width: calc(#{$sliderButtonHeight} - 4px)
      height: calc(#{$sliderButtonHeight} - 4px)
      border-radius: 100%
      background-color: white
      cursor: pointer
      transition: all .1s ease
      &.is-active
        margin: 0px 2px
        width: $sliderButtonHeight
        height: $sliderButtonHeight
        background-color: $mainColor
        cursor: default
